<ion-header>
  <ion-toolbar>
    <ion-title>Appsita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Iniciar sesión</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Inicio de sesión</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" placeholder="Tu correo electrónico" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="Tu contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


