<ion-header>
  <ion-toolbar>
    <ion-title id="titulo">Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-card class="boton-inicio-registro">
      <ion-button id="open-modal" expand="block" shape="round" color="secondary">Iniciar sesión</ion-button>
      <ion-button id="open-modal" expand="block" (click)="registro()" shape="round" color="secondary">Registrarse</ion-button>
    </ion-card>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" (click)="cancel()" color="secondary"></ion-back-button>
          </ion-buttons>
          <ion-title id="inicio-sesion">Inicio de sesión</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input type="username" placeholder="Tu nombre de usuario" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="0000000" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="login()" shape="round" color="success">Iniciar sesión</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-content>


