    
ion-card.boton-inicio-registro {    
    margin-top: 60%;
    background-color: transparent;

    ion-button#open-modal{
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
}


ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 100%;
    
}