
ion-back-button{
  margin-right: 80%;
}

p{
  color: #ffffff;
  font-size: 20px;

}

ion-title {
  animation: titleAnimation 5s;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

@keyframes titleAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25%);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: translateX(-25%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

ion-input.anim {
  animation: inputAnimation 1s;
}

@keyframes inputAnimation {
  0% {
    transform: translateX(-25%);
  }
}