<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/login" class="secondary"></ion-back-button>
    <ion-title id="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Segmentos -->
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="segment1">
      <ion-label>Datos personales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2">
      <ion-label>Experiencia Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment3">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido del primer segmento -->
  <ion-card *ngIf="segmentValue === 'segment1'">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ loggedInUser }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese su nombre" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese su apellido" [(ngModel)]="lastname"></ion-input>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-select aria-label="nivel" placeholder="Nivel educacional" [(ngModel)]="educationLevel">
            <ion-select-option value="Ens. Básica">Enseñanza básica</ion-select-option>
            <ion-select-option value="Ens. Media">Enseñanza media</ion-select-option>
            <ion-select-option value="Ens. Superior CFT">Enseñanza superior en CFT</ion-select-option>
            <ion-select-option value="Ens. Superior IP">Enseñanza superior en Instituto Profesional</ion-select-option>
            <ion-select-option value="Ens. Superior Universidad">Enseñanza superior en Universidad</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <p>Fecha de nacimiento</p>
      <br>
      <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="fecha"></ion-datetime>

      <ion-button (click)="limpiarCampos()" expand="full" shape="round" color="success">Limpiar</ion-button>
      <ion-button (click)="mostrarDatos()" expand="full" shape="round" color="secondary">Mostrar datos</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentValue === 'segment2'">
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Empresa</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese el nombre de la empresa" [(ngModel)]="empresa"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Año de Inicio</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Año de inicio" [(ngModel)]="anioInicio"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Actualmente trabaja aquí</ion-label>
        <ion-checkbox [(ngModel)]="trabajaActualmente"></ion-checkbox>
      </ion-item>
  
      <ion-item *ngIf="!trabajaActualmente">
        <ion-label position="stacked">Año de Término</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Año de término" [(ngModel)]="anioTermino"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Cargo</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese su cargo" [(ngModel)]="cargo"></ion-input>
      </ion-item>
  
      <ion-button (click)="limpiarCampos()" expand="full" shape="round" color="success">Limpiar</ion-button>
      <ion-button (click)="mostrarDatosLaborales()" expand="full" shape="round" color="secondary">Mostrar datos</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentValue === 'segment3'">
    <ion-card-header>
      <ion-card-title>Certificaciones</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre Certificado</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese el nombre del certificado" [(ngModel)]="nombreCertificado"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Fecha de Obtención</ion-label>
        <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaObtencion"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>El certificado vence</ion-label>
        <ion-checkbox [(ngModel)]="certificadoVence"></ion-checkbox>
      </ion-item>
  
      <ion-item *ngIf="certificadoVence">
        <ion-label position="stacked">Fecha de Vencimiento</ion-label>
        <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaVencimiento"></ion-datetime>
      </ion-item>
  
      <ion-button (click)="limpiarCampos()" expand="full" shape="round" color="success">Limpiar</ion-button>
      <ion-button (click)="mostrarDatosCertificados()" expand="full" shape="round" color="secondary">Mostrar datos</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
