<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/login" class="secondary"></ion-back-button>
    <ion-title id="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Segmentos -->
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="default">
      <ion-label>Default</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment1">
      <ion-label>Segment 1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2">
      <ion-label>Segment 2</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido del primer segmento -->
  <ion-card *ngIf="segmentValue === 'default'">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ loggedInUser }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese su nombre" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [class.anim]="isAnimated" id="input" type="text" placeholder="Ingrese su apellido" [(ngModel)]="lastname"></ion-input>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-select aria-label="nivel" placeholder="Nivel educacional" [(ngModel)]="educationLevel">
            <ion-select-option value="Ens. Básica">Enseñanza básica</ion-select-option>
            <ion-select-option value="Ens. Media">Enseñanza media</ion-select-option>
            <ion-select-option value="Ens. Superior CFT">Enseñanza superior en CFT</ion-select-option>
            <ion-select-option value="Ens. Superior IP">Enseñanza superior en Instituto Profesional</ion-select-option>
            <ion-select-option value="Ens. Superior Universidad">Enseñanza superior en Universidad</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <p>Fecha de nacimiento</p>
      <br>
      <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="fecha"></ion-datetime>

      <ion-button (click)="limpiarCampos()" expand="full" shape="round" color="success">Limpiar</ion-button>
      <ion-button (click)="mostrarDatos()" expand="full" shape="round" color="secondary">Mostrar datos</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
