
ion-back-button{
  margin-right: 80%;
  font-family: cursive;
}

p{
  font-size: 20px;

}

ion-title {
  animation: titleAnimation 3s;
  font-size: 28px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25%);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: translateY(-25%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.anim {
  animation: inputAnimation 1s;
}

@keyframes inputAnimation {
  0% {
    transform: translateX(-25%);
  }
}

ion-card{
  font-family: cursive;
  background-color: transparent;
  ion-item{
    font-family: cursive;

  }
  ion-button{
    font-family: cursive;
  }
  ion-label{
    font-family: cursive;
  }
  ion-input{
    font-family: cursive;
  }
}