ion-toolbar {
    font-family: cursive;
    ion-back-button{
        font-family: cursive;
    }
}

ion-content{
    ion-label{
        font-family: cursive;
    }
    ion-input{
        font-family: cursive;
    }
    ion-button{
        font-family: cursive;
    }
}